{
  "experimentalTernaries": true,
  "experimentalOperatorPosition": "start",
  "printWidth": 110,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "bracketSameLine": false,
  "arrowParens": "always",
  "insertPragma": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
