:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  justify-content: center;
}

.spinner-js, .spinner-css {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
}

.spinner-js {
  background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.spinner-css {
  background-image: linear-gradient(to right, #ffc700, #ff882e, #ff4857, #d8107b, #8e1d94);
  animation: rotate 2s linear infinite;
}

#data {
  list-style: none;
  padding: 0;
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

